<div class="inner-page register-wrp">
    <div class=" justify-content-center">
        <div *ngIf="userGroup">
            <div class="page-header">
            <h2><span jhiTranslate="userManagementFeApp.userGroup.detail.title">User Group</span><!-- {{ userGroup.id }}--></h2>
            </div>
    
            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <div class="common-flx">
                <dt><span jhiTranslate="userManagementFeApp.userGroup.groupName">Group Name</span></dt>
                <dd>
                    <span>{{ userGroup.groupName }}</span>
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagementFeApp.userGroup.description">Description</span></dt>
                <dd>
                    <span>{{ userGroup.description }}</span>
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagementFeApp.userGroup.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'userManagementFeApp.StatusEnum.' + userGroup.status }}">{{ userGroup.status }}</span>
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagementFeApp.userGroup.roles">Roles</span></dt>
                <dd>
                    <span *ngFor="let roles of userGroup.roles; let last = last">
                        <a [routerLink]="['/role', roles?.id, 'view']">{{ roles.roleName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                </div>
            </dl>
            <div class="action-bottom">
            <button type="submit"
                    (click)="previousState()"
                    class="btn cur-p btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-group', userGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            </div>
        </div>
    </div>
</div>
