<div class="inner-page register-wrp">
 
        <div *ngIf="user">
            <div class="page-header">
            <h2>
                <span jhiTranslate="userManagement.detail.title">User</span> <!--[<b>{{ user.login }}</b>]-->
            </h2>
            </div>
            <dl class="row-md jh-entity-details">
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.login">Login</span></dt>
                <dd>
                    <span>{{ user.login }}  <jhi-boolean
                        [value]="user.activated ? true : false"
                        [textTrue]="'userManagement.activated' | translate"
                        [textFalse]="'userManagement.deactivated' | translate">
                    </jhi-boolean></span>
                    
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{ user.firstName }}</dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{ user.lastName }}</dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{ user.email }}</dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'userManagement.GenderEnum.' + user.gender }}">{{ user.gender }}</span>
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ user.birthDate }}</span>
                </dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.phone">Phone</span></dt>
                <dd>
                    <span>{{ user.phone }}</span>
                </dd>
                </div>
                <div class="common-flx">

                <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
                <dd>{{ user.langKey }}</dd>
                </div>
                <div class="common-flx">

                <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
                <dd>{{ user.createdBy }}</dd>
                    </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
                <dd>{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
                <dd>{{ user.lastModifiedBy }}</dd>
                </div>
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
                <dd>{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</dd>
                </div>
                <!--
                <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </li>
                    </ul>
                </dd>-->
                <div class="common-flx">
                <dt><span jhiTranslate="userManagement.userGroup">User's Group</span></dt>
                <dd>
                    <span>{{ userGroupName }}</span>
                </dd>
                </dl>
            </dl>
        <div class="action-bottom">
            <button type="submit" routerLink="../../" class="btn cur-p btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
        </div>
    
</div>
